.container {
  padding: 0 1.5rem;
}

.button {
  background-color: rgb(58, 168, 58);
  padding: 10px;
  margin: 10px;
  min-width: 200px;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
}

.button:hover {
  background-color: rgb(61, 189, 61);
}
